
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <h4>
            MUTACION
        </h4>
        <div class="card m-2">
            <div class="container">
                <form [formGroup]="mutationControl" (ngSubmit)="saveMutation()">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group mt-4" >
                                <input hidden readonly name="isMutation" id="isMutation" type="text" formControlName="isMutation" class="form-control">
                                <label for="isMutation">MUTACION</label>
                                <b>
                                    <p *ngIf="isMutationTrue">SI</p>
                                    <p *ngIf="!isMutationTrue">No</p>
                                </b>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <div hidden>
                                    <label for="id">id del cliente</label>
                                    <input readonly name="id" id="id" type="text" formControlName="id" class="form-control" placeholder="0">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <div hidden >
                                    <label for="date">id del cliente</label>
                                    <input  name="date" id="date" type="text" formControlName="date" class="form-control" placeholder="0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5 class="">SECUENCIA</h5>
                    <div class="row">
                        <div align="right" *ngIf="!isDetail">
                            <button class="btn btn-block btn-primary" type="button" (click)="randomSecuence()">
                                GENERAR SECUENCIA
                            </button>
                            <button class="btn btn-block btn-success" type="button" (click)="verifyMutation()">
                                VERIFICAR MUTACION
                            </button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-xs-9 col-sm-9"></div>
                        <div class="col-xs-3 col-sm-3">
                            <button type="button" class="btn btn-warning btn-block" data-dismiss="modal"
                                (click)="onResetForm()">
                                CANCELAR
                            </button>&nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">          
                            <div class="form-group">
                                <label for="isMutation">SECUENCIA ADN</label>
    
                                <input input readonly [maxlength]="36" [minLength]="36"  name="secuence" id="secuence" formControlName="secuence" type="text"
                                    class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success btn-block" (click)="verifyMutation()">
                                GUARDAR
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="row">
            <h4>
                ESTADOS
            </h4>
        </div>
        <div class="m-2">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">SECUENCIA</th>
                    </tr>
                </thead>
                <a data-toggle="modal" data-target="#ModalForm" class="btn-link" (click)="viewStats()">
                    <h6 >
                        VER TODOS LOS ESTADOS...
                    </h6>
                </a>
                <div class="" style="overflow: auto;height: 404px;">
                    <tbody>
                        <tr *ngFor="let mutation of mutationList let i = index;">
                            <td data-toggle="modal" data-target="#ModalForm"  (click)="openStatsOfMutation(mutation.secuence)" class="text-center" scope="row">
                                {{mutation.secuence}}
                            </td>
                            <td>
                                {{ mutation.date }}
                            </td>
                        </tr>
                    </tbody>
                
                </div>
            </table>
        </div>
    </div>
</div>

<!--Inicio modal STATS MUTATION-->
<div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalForm" data-backdrop="static"
data-keyboard="false">
<div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 100%;">
        <div class="modal-header">
            <h5 class="modal-title">STATS</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onResetForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="viewStatsAll">
                <p>MUTACION:<b>{{ yesMutations }}</b></p>
                
                <p> NO MUTACION<b>{{ noMutations }}</b></p>
                <p> PROCPORCION: {{ yesMutations/noMutations | number: '1.2-2' }}</p>
            </div>
            <table >
                <thead>
                    <tr>
                        <th scope="col">ADN</th>
                        <th scope="col">SECUENCIA</th>
                    </tr>
                </thead>
                <tbody *ngIf="statsOfMutation">
                    <tr>
                        <td scope="row">
                            {{statsOfMutation.secuence}}
                        </td>
                        <td style="justify-content: center;" *ngFor="let block of statsOfMutation.blocks let i = index;" class="row">
                            {{(block)}}
                        </td>
                    </tr>
                    <p *ngIf="viewStatsMutation">
                        LA SECUENCIA
                        <b *ngIf="statsOfMutation.isMutation">
                            SI
                        </b>
                        <b *ngIf="!statsOfMutation.isMutation">
                            NO
                        </b>
                        <b>
                            TIENE MUTACION
                        </b>
                    </p>
                </tbody>
                <tbody *ngIf="arrayOfStatsOfMutation">
                    <tr class="{{ stats.blocks.length > 1?'bg-success':'' }}" style="border-width: 1px;" *ngFor="let stats of arrayOfStatsOfMutation let i = index;" >
                        <td scope="row">
                            {{ stats.secuence }}
                        </td>
                        <td *ngFor="let item of stats.blocks" style="justify-content: center;" class="row">
                            {{ item }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<!--FIN MODAL STATS MUTATION-->